---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout>
	<header>
		<h2>Sobre mi</h2>
	</header>
	
</MainLayout>

<img src="../gato.webp" alt="Sisoy" style="height: 200px;  display: block;
margin-left: auto;
margin-right: auto;">

<p style="text-align: center;">Me comeré a toda tu familia mientras duermes.</p>
	<p style="text-align: center; padding: 0px"><b>uwu</b>.</p>