<a href="/barcelona">
    <div class="card">
    
        <strong>BARCELONA</strong>
    
        <span>FORMULA 2</span>
        <p class="texto-menor2">🏖️ '23</p>
    </div>
</a>

<style>
    .card {
        --bg: #f7f7f800;
        --hover-bg: #1f9bff;
        --hover-text: #ffffff;

        width: 200px;
        height: 100px;
 /*        max-width: 23ch; */
        text-align: center;
        padding: .8em;
        padding-block: 1.2em;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        transition:
            0.3s cubic-bezier(0.6, 0.4, 0, 1),
            transform 0.15s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        margin: 5px;
    }

    .card__body {
        color: #464853;
        line-height: 1.5em;
        font-size: 1em;
    }

    .card > :not(span) {
        transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
    }

    .card > strong {
        display: block;
        font-size: 2.2rem;
        letter-spacing: -0.035em;
    }

    .card span {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--hover-text);
        border-radius: 5px;
        font-weight: bold;
        top: 100%;
        transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
    }

    .card:hover span {
        top: 0;
        font-size: 2em;
    }

    a {
        text-decoration: none;
        color: white;
       
    }

    .card:hover {
        background: var(--hover-bg);
    }

    .card:hover > div,
    .card:hover > strong {
        opacity: 0;
    }

    .texto-menor2 {
    font-size: 0.8em;
    margin-top: 5px; 
    color: #ffffff;
    font-weight: bold;
    opacity: 0; 
    transition: opacity 4.4s cubic-bezier(.17,.67,.57,1.08); 
}

.card:hover .texto-menor2 {
    opacity: 1; 
}


</style>
