

<footer class="footer">
    <nav style="gap: .8rem">
        <a href="https://twitter.com/datanromar" target="_blank">
            <img class="twittericon" src="./Twitter.png" alt="Twitter" />
        </a>
        <a href="https://www.instagram.com/datanromar/" target="_blank">
            <img
                class="instaicon"
                src="./Instagram.png"
                alt="Instagram"
            />
        </a>
    </nav>
</footer>

<style>
   .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 3%;
}

a{

    text-decoration: none;

}

.instaicon,
.twittericon {
    margin: 15px;
    width: 40px; 
    height: auto;
}

.instaicon:hover,
.twittericon:hover {
    filter: hue-rotate(724deg);
    transition: all 0.7s ease-in;
}

</style>
