---
import Boton from "./Boton.astro"
---
<header class="main-header">
    
        <a href="/">
            <h1 style="margin: 0px 0px 10px;">
                Mi portafolio
            </h1>
        </a>
    
    <nav style="gap: .5rem">
        <Boton href="/quienes-somos">Quien soy</Boton>
        <Boton href="/about">Contacto</Boton>

    </nav>
</header>

<style>
    .main-header {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        background-image: url(https://shorturl.at/qAMQ3);
        background-size:cover;
        background-repeat:no-repeat;
    }


</style>