
<header class="main-header">
    
        <a href="/">
            <h1 style="margin: 0px 0px 10px;">
                Mi portafolio
            </h1>
        </a>
    
    <nav style="gap: .5rem">
        <a style="padding: 0px 10px 0px 10px;" href="/quienes-somos">Quienes somos</a>
        <a style="padding: 0px 10px 0px 10px;" href="/about">Acerca de</a>
    </nav>
</header>

<style>
    .main-header {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        background-image: url(https://shorturl.at/qAMQ3);
        background-size:cover;
        background-repeat:no-repeat;
    }

    a:link, a:visited, a:active {
    text-decoration: none;
    background: palegreen;
    color: black;
}
</style>