---
import Boton from "./Boton.astro";
---

<header class="main-header">
    <a href="/">
        <img
            class="nombre"
            src="./name.webp"
            alt="Daniel Atan Portfolio"
            style="margin: 15px; max-width: 20%; min-width: 10%"
        />
    </a>

    <nav style="gap: .8rem">
        <Boton href="/quien-soy">Quien soy</Boton>
        <Boton href="/contacto">Contacto</Boton>
    </nav>
</header>

<style>
    .nombre:hover {
        padding: 2px;
        gap: 30px;
        box-shadow: 0 0 2px 1px #1f9bff;
    }

    .main-header {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
</style>
