
<header class="main-header">
    
        <a href="/">
            <h1 class="mipo">
                Mi portafolio
            </h1>
        </a>
    
    <nav style="gap: .5rem">
        <a href="/quienes-somos">Quienes somos</a>
        <a href="/about">Acerca de</a>
    </nav>
</header>

<style>
    .main-header {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

</style>